*{
    margin:0;
    padding:0
}

header,main,footer,nav,aside,article,section,div{
    display: block;
}

/*
----------------------------------------------------------------------------------------
body
----------------------------------------------------------------------------------------
*/
body{ font-family: Arial; }
/*
----------------------------------------------------------------------------------------
main
----------------------------------------------------------------------------------------
*/


#layout1 main{
    width: 876px;
    height:860px;
    margin: 0px auto;
    
   }

#layout2 main{
    position: relative;
    width: 88.3%;
    
    height: 1860px;
}
/*header*/


header {
    position: relative;
 width:100%;
 height:123px;
 background-color: #F2E9E9;
 padding-top: 0.1px;
}

/*
---------------------------------------------------------------------------
nav
---------------------------------------------------------------------------
*/


nav{
    position: relative;
    width: 300px;
    height: 33px;
    margin: 50px auto;
}

nav a{
    
    margin: 0.1px;
    text-decoration: none;
    left: 0%;
    right: 75.25%;
    top: 0%;
    bottom: 0%;
    
    font-family: Amiko;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    padding-right: 4%;
    color: #000000;
    position: relative;
}

nav a:hover:before {
    content: "";
    position: absolute;
    top: -15px;
    background:  #F72828;;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    left:calc(35%);
    
}
.dot {
    content: "";
    position: absolute;
    top: -15px;
    background:  #F72828;;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    
}
#layout1 .dot{
    left:calc(7%);
}

#layout2 .dot{
    left:calc(33%);
}
#layout3 .dot{
    left:15.7vw;
}

/*footer*/

.boxes div{
    position: absolute;
    background-color: #ebef18
}



footer {
 width:100%;
 height:41px;
 background-color: #000000;
}


/*layout1*/



#layout1 .text{
    position: relative;
    top:30%;
    float: left;
    width: 50%;
    height: 120px;

}

.text h1{
    font-size: 72px;
    font-weight: bold;
}
.text h3{
    font-size: 24px;
}

#layout1 .boxes{
position: relative;
top: 0px;
left: opx;
float: left;
width: 50%;
height: 860px;

}
/*left*/
#layout1 .box1{
    position: absolute;
    top:17%;
    left: 0%;
    width: 75px;
    height: 23px;
}
#layout1 .box2{
    position: absolute;
    left: 0%;
top: 19.5%;
height: 46px;
margin-top: 8px;
width:136px;
}
#layout1 .box3{
    position: absolute;
    left: 0%;
    top: 25.7%;
    margin-top: 11px;
    height: 404px;
    width: 134px;
}
#layout1 .box4{
    position: absolute;
    left: 0%;
    top: 73.9%;
    margin-top: 11px;
    height: 32px;
    width: 88px;
}
#layout1 .box5{
    position: absolute;
    left: 0%; 
    top: 78.9%;
    margin-top: 7px;
    height: 25px;
    width: 26px;
}
#layout1 .box52{
    margin-left: 7px;
    left:5.5%;
}

/*mid*/

#layout1 .mid1{
    position: absolute;
    left:30.4%;
    margin-left:15px;
}

#layout1 .box6{

    top:17%;
    height: 352px;
    width: 246px;
}
#layout1 .box7{

    top:57.9%;
    height: 212px;
    width: 123px;
    margin-top: 16px;
}

#layout1 .mid2{
    position: absolute;
    left:61.7%;
    margin-left:14px;
}
#layout1 .box8{
    top:57.9%;
    height: 105px;
    width: 55px;
    margin-top: 16px;
}
#layout1 .box9{
    top:72%;
    height: 58px;
    width: 110px;
    margin-top: 7px;
}

/*right*/
.right{
    position: absolute;
    right:0%; 
}
#layout1 .box10{
    top:11.8%;
    height: 55px;
    width: 28px;
}
#layout1 .box102{
    top:18.2%;
    margin-top: 11px;
}
#layout1 .box103{
    top:25.85%;
    margin-top: 11px;
}
#layout1 .box11{
    top:35.2%;
    height: 196px;
    width: 28px;
}
/*
-----------------------------------------------------------------------------------------
layou2
-----------------------------------------------------------------------------------------
*/

#layout2 aside{
    
    float: right;
    background: #EBEF18;
    width: 169px;
    height: 1925px;
    left: 1271px;
    top: 123px;
    
   

}
#layout2 main section{
    position: relative;
    width: 1000px;
    height: 1884px;
    max-height: 1884px;
    margin: 0px auto;
    contain: content;
    
}
#layout2 main div{
    position: absolute;
    background: #C4C4C4;
    height: 299px;
    
    margin-bottom: 79px;
}

.left{
    position: absolute;
    left: 0%;
    margin-right: 55px;
   
}
.left.first{
    margin-top: 119px;
    width: 47.1%;
}
.right.first{
    margin-top: 287px;
    width: 47.1%;
}

.others{
    width: 100%;
    margin-top: 80.2%;

}
.right .last {
    width: 100%;
    height: 100px;
}
.clear{
    clear: both;
}
#layout2 footer{
    position: fixed;
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 41px;
}

aside div{
    position: relative;
    background: #000000;
    width: 47.3%;
    left: 0;
}

aside div::after{
    content: "";
  display: block;
  padding-bottom: 100%;
}
.Rectangle1{
    top: 6.3%;
}
.Rectangle2{
    top: 32.7%;
}

.Rectangle3{
    left:52.66%;
    background: #ffffff;
    top:7.1%;

}


#layout2 ul{
    position: relative;
    list-style:none;
    text-align: center;
    top:50.4%;
}

#layout2 ul a{
    text-decoration: none;
    color: #000000;
    font-size: 96px;
}

/*
----------------------------------------------------------------------------------
layout3
----------------------------------------------------------------------------------
*/
#layout3{
    width: auto;
    height: 100%;
}

#layout3 header{
    height: 10vw;
}

#layout3 header div{
    float: right;
    margin: 1.5vw 1.5vw;
    background-color: #000000;
    height: 7vw;
    width: 7vw;
}


.wrapper{
    margin: 0px auto;
    position: relative;
    width: 100%;
}



#layout3 article{
    position: relative;
    float: left;
    background-color: #E5E5E5;
    width: 25vw;
    clear: both;
    min-height: 100vw;
}

#layout3 article nav{
    position: relative;
    margin-top: 30%;
}
#layout3 article nav a{
   
    font-size:1.75vw;
}
#layout3 .dot{
    width: 1.37vw;
    height: 1.37vw;
    top:-1.4vw;
    left:calc(35%);
}
#layout3 a:hover::before{
    width: 1.37vw;
    height: 1.37vw;
    top:-1.4vw;
    left:calc(35%);
}

#layout3 main{
    float: left;
    width:67vw;
    min-height: 100vw;
}

#layout3 aside section{
    position: absolute;
    right:0px;
    min-height: 100vw;
    background-color: rgba(24, 239, 33, 0.3);
    width: 8vw;
}

.bottom{
    width: 100%;
    float: left;
    background-color: #EBEF18;
    height: 35vw;
}

#layout3 footer{
    float: left;
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 3vw;
    width: 100%;
}


@media screen and (max-width:480px){
    #layout3 article{
        min-height: 5vw;
        height: 8vw;
        width: 100%;
        margin: 0 auto;
    }
    #layout3 article nav{

        margin: -1vw 40vw;
        width:30vw;
    }
    #layout3 aside{
        display: none;
    }
}